/richman/Richman/
richman/win32-build/.vs/richman/v16/.suo
richman/win32-build/.vs/richman/v16/Browse.VC.db
richman/win32-build/.vs/richman/v16/Solution.VC.db
richman/win32-build/.vs/richman/v16/Solution.VC.db-shm
richman/win32-build/.vs/richman/v16/Solution.VC.db-wal
