<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miku-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{225,1},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{545,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{593,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{279,1},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{333,1},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{113,1},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{387,1},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{54,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{169,1},{54,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{641,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{441,1},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{689,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{737,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{46,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{785,1},{46,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>miku-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{50,80}</string>
                <key>spriteSourceSize</key>
                <string>{54,82}</string>
                <key>textureRect</key>
                <string>{{493,1},{50,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miku.png</string>
            <key>size</key>
            <string>{832,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6af65f10774890f7994e7a471cdd53e3:d108fecc45c18b16cc648d14ed86e5ee:6444762a02d8389446c05221e2bfe5ef$</string>
            <key>textureFileName</key>
            <string>miku.png</string>
        </dict>
    </dict>
</plist>
