<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>usagi-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{469,1},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{50,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{367,1},{50,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{54,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{733,1},{54,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{64,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{535,1},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{62,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{133,1},{62,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{601,1},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{197,1},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{64,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{667,1},{64,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{52,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{313,1},{52,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{50,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{897,1},{50,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{48,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{419,1},{48,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{789,1},{52,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{54,88}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{257,1},{54,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usagi-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{843,1},{52,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>usagi.png</string>
            <key>size</key>
            <string>{948,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0402d8a286b8dec068ed65caa19679f9:a921a93d9b864b17dfca12f2f14dbc4f:6180c76ba1cae6113ea0f0134134cd46$</string>
            <key>textureFileName</key>
            <string>usagi.png</string>
        </dict>
    </dict>
</plist>
